In [1]:
import pandas as pd

In [8]:
# Study data files
countryhappiness_path = "country_trial.csv"

# Read the mouse data and the study results
country_happiness = pd.read_csv(countryhappiness_path)

country_happiness

,Overall rank,Country Code,Country,Region,Languages,Religion,Population,Area (km2),2015 Happiness Score,2016 Happiness Score,...,Drugs Usage (per cap),Antidepressants (per cap),Congestion (Per capita),Power Distance,Individualism,Masculinity,Uncertainity Avoidance,Long Term Orientation,Net Migration,Mortality
0,153.0,AFG,Afghanistan,Southern Asia,Asia (other),Muslim,34414000.0,652860.0,3.58,3.36,...,2.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3,6.93
1,137.0,AGO,Angola,Sub-Saharan Africa,Portuguese,Christian,27884000.0,1246700.0,4.03,3.87,...,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.4,9.05
2,95.0,ALB,Albania,Eastern Europe,Europe (other),Muslim,2891000.0,27400.0,4.96,4.66,...,0.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.4,7.37
3,20.0,ARE,United Arab Emirates,Middle East and Northern Africa,Arabic,Muslim,9263000.0,71020.0,6.90,6.57,...,2.99,NaN,170.89,80.0,38.0,52.0,68.0,0.0,6.1,1.38
4,30.0,ARG,Argentina,Latin America and Caribbean,Spanish,Christian,43075000.0,2736690.0,6.57,6.65,...,0.99,NaN,172.79,49.0,46.0,56.0,86.0,0.0,0.1,7.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,69.0,XKX,Kosovo,Eastern Europe,Europe (other),Muslim,NaN,NaN,5.59,5.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00
156,136.0,YEM,Yemen,Middle East and Northern Africa,Arabic,Muslim,26498000.0,527970.0,4.08,3.72,...,1.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.6,5.97
157,113.0,ZAF,South Africa,Sub-Saharan Africa,English,Christian,55386000.0,1213090.0,4.64,4.46,...,0.96,NaN,191.72,49.0,65.0,63.0,49.0,0.0,3.5,9.77
158,85.0,ZMB,Zambia,Sub-Saharan Africa,English,Christian,15879000.0,743390.0,5.13,4.80,...,0.51,NaN,NaN,64.0,27.0,41.0,52.0,25.0,-0.7,7.17
159,115.0,ZWE,Zimbabwe,Sub-Saharan Africa,English,Christian,13815000.0,386850.0,4.61,4.19,...,0.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.4,8.67

In [122]:
#Creating data frame with happiness scores
Happiness_fouryears = country_happiness.loc[:,['Country', '2015 Happiness Score','2016 Happiness Score','2017 Happiness Score','2018 Happiness Score','2019 Happiness Score']]

In [26]:
Happiness_fouryears

,Country,2015 Happiness Score,2016 Happiness Score,2017 Happiness Score,2018 Happiness Score,2019 Happiness Score
0,Afghanistan,3.58,3.36,3.79,3.63,3.20
1,Angola,4.03,3.87,3.80,3.80,NaN
2,Albania,4.96,4.66,4.64,4.59,4.72
3,United Arab Emirates,6.90,6.57,6.65,6.77,6.83
4,Argentina,6.57,6.65,6.60,6.39,6.09
...,...,...,...,...,...,...
155,Kosovo,5.59,5.40,5.28,5.66,6.10
156,Yemen,4.08,3.72,3.59,3.36,3.38
157,South Africa,4.64,4.46,4.83,4.72,4.72
158,Zambia,5.13,4.80,4.51,4.38,4.11
159,Zimbabwe,4.61,4.19,3.88,3.69,3.66

In [123]:
#check and count null values
Happiness_fouryears['2015 Happiness Score'].isnull().sum()
Happiness_fouryears['2017 Happiness Score'].isnull().sum()
Happiness_fouryears['2018 Happiness Score'].isnull().sum()
Happiness_fouryears['2019 Happiness Score'].isnull().sum()

# We could drop these countries without happiness scores in certain years but there's not many empty values, 
#let's fill the data instead through a logical way

Incomplete_Countries = Happiness_fouryears[Happiness_fouryears.isna().any(axis=1)]
Incomplete_Countries

,Country,2015 Happiness Score,2016 Happiness Score,2017 Happiness Score,2018 Happiness Score,2019 Happiness Score
1,Angola,4.03,3.87,3.80,3.80,NaN
18,Belize,NaN,5.96,5.96,5.96,NaN
23,Central African Republic,3.68,NaN,2.69,3.08,3.08
33,Comoros,3.96,3.96,NaN,NaN,3.97
38,Djibouti,4.37,NaN,NaN,NaN,NaN
54,Gambia,NaN,NaN,NaN,NaN,4.52
79,Laos,4.88,4.88,NaN,4.62,4.80
84,Lesotho,4.90,NaN,3.81,3.81,3.80
98,Mozambique,4.97,NaN,4.55,4.42,4.47
103,Namibia,NaN,4.57,4.57,4.44,4.64
111,Oman,6.85,NaN,NaN,NaN,NaN
117,Puerto Rico,NaN,7.04,NaN,NaN,NaN
125,Sudan,4.55,4.14,4.14,4.14,NaN
130,Somalia,NaN,5.44,5.15,4.98,4.67
132,South Sudan,NaN,3.83,3.59,3.25,2.85
133,Suriname,6.27,6.27,NaN,NaN,NaN
137,Swaziland,4.87,NaN,NaN,NaN,4.21

In [102]:
# To decide the most logical value we'll run thrugh each country

#Countries with no value changes
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Angola",'2019 Happiness Score']=3.8
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Belize",{'2015 Happiness Score','2019 Happiness Score'}]=5.96
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Comoros",{'2017 Happiness Score','2018 Happiness Score'}]=3.96
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Djibouti",{'2016 Happiness Score','2017 Happiness Score'}]=4.37
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Djibouti",{'2018 Happiness Score','2019 Happiness Score'}]=4.37
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Gambia",{'2015 Happiness Score','2016 Happiness Score'}]=4.52
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Gambia",{'2017 Happiness Score','2018 Happiness Score'}]=4.52
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Oman",{'2016 Happiness Score','2017 Happiness Score'}]=6.85
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Oman",{'2018 Happiness Score','2019 Happiness Score'}]=6.85
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Puerto Rico",{'2015 Happiness Score','2017 Happiness Score'}]=7.04
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Puerto Rico",{'2018 Happiness Score','2019 Happiness Score'}]=7.04
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Suriname",{'2017 Happiness Score','2018 Happiness Score'}]=6.27
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Suriname",'2019 Happiness Score']=6.27
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Namibia",'2015 Happiness Score']=4.57
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Sudan",'2019 Happiness Score']=4.14

# Countries with value changes, do a linear transition
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Central African Republic",'2016 Happiness Score']=(3.86+2.69)/2
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Laos",'2017 Happiness Score']=(4.88+4.62)/2
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Lesotho",'2016 Happiness Score']=(4.90+3.81)/2
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Mozambique",'2016 Happiness Score']=(4.97+4.55)/2
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Somalia",'2015 Happiness Score']=(5.44+(5.44-5.15))
Happiness_fouryears.at[Happiness_fouryears["Country"]=="South Sudan",'2015 Happiness Score']=(3.83+(3.88-3.59))
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Swaziland",'2016 Happiness Score']=4.87-(4.87-4.21)/3
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Swaziland",'2017 Happiness Score']=4.65-(4.87-4.21)/3
Happiness_fouryears.at[Happiness_fouryears["Country"]=="Swaziland",'2018 Happiness Score']=4.43-(4.87-4.21)/3


#checker
Incomplete_Countries = Happiness_fouryears[Happiness_fouryears.isna().any(axis=1)]
Incomplete_Countries

Empty DataFrame
Columns: [Country, 2015 Happiness Score, 2016 Happiness Score, 2017 Happiness Score, 2018 Happiness Score, 2019 Happiness Score]
Index: []

In [115]:
Happiness_fouryears

,Country,2015 Happiness Score,2016 Happiness Score,2017 Happiness Score,2018 Happiness Score,2019 Happiness Score
0,Afghanistan,3.58,3.36,3.79,3.63,3.20
1,Angola,4.03,3.87,3.80,3.80,3.80
2,Albania,4.96,4.66,4.64,4.59,4.72
3,United Arab Emirates,6.90,6.57,6.65,6.77,6.83
4,Argentina,6.57,6.65,6.60,6.39,6.09
...,...,...,...,...,...,...
155,Kosovo,5.59,5.40,5.28,5.66,6.10
156,Yemen,4.08,3.72,3.59,3.36,3.38
157,South Africa,4.64,4.46,4.83,4.72,4.72
158,Zambia,5.13,4.80,4.51,4.38,4.11
159,Zimbabwe,4.61,4.19,3.88,3.69,3.66

In [118]:
#creating dataframes to each year
Hapiness_2015=pd.DataFrame(Happiness_fouryears[{"Country","2015 Happiness Score"}])
Hapiness_2016=pd.DataFrame(Happiness_fouryears[{"Country","2016 Happiness Score"}])
Hapiness_2017=pd.DataFrame(Happiness_fouryears[{"Country","2017 Happiness Score"}])
Hapiness_2018=pd.DataFrame(Happiness_fouryears[{"Country","2018 Happiness Score"}])
Hapiness_2019=pd.DataFrame(Happiness_fouryears[{"Country","2019 Happiness Score"}])

In [124]:
#add a column with the mean
Happiness_fouryears['Mean'] = Happiness_fouryears.mean(axis=1)

In [126]:
#creating a df with country and mean
Happiness_mean = pd.DataFrame(Happiness_fouryears[{"Country","Mean"}])

In [151]:
Culture_df = pd.DataFrame(country_happiness[{"Country","Region","Religion","Languages","Christian","Muslim","Irreligion","Hindu","Buddhist",
                                             "Folk religion","Other religion","Jewish"}])

In [154]:
#Dataframe with cultural traits
Culture_df

,Religion,Region,Country,Hindu,Irreligion,Other religion,Christian,Jewish,Folk religion,Muslim,Buddhist,Languages
0,Muslim,Southern Asia,Afghanistan,0.03,0.0,0.06,0.1,0.00,0,99.7,0.00,Asia (other)
1,Christian,Sub-Saharan Africa,Angola,0.00,5.1,0.00,90.5,0.00,4.2,1.0,0.00,Portuguese
2,Muslim,Eastern Europe,Albania,0.00,1.4,0.20,18.0,0.00,0,80.3,0.00,Europe (other)
3,Muslim,Middle East and Northern Africa,United Arab Emirates,6.60,1.1,0.80,12.6,0.00,0,76.9,2.00,Arabic
4,Christian,Latin America and Caribbean,Argentina,0.00,12.2,0.30,85.2,0.50,0.8,1.0,0.05,Spanish
...,...,...,...,...,...,...,...,...,...,...,...,...
155,Muslim,Eastern Europe,Kosovo,0.00,1.6,0.00,11.4,0.00,0,87.0,0.00,Europe (other)
156,Muslim,Middle East and Northern Africa,Yemen,0.60,0.1,0.00,0.2,0.00,0,99.1,0.00,Arabic
157,Christian,Sub-Saharan Africa,South Africa,1.70,14.9,0.30,81.2,0.10,0.4,2.0,0.20,English
158,Christian,Sub-Saharan Africa,Zambia,0.10,0.5,0.90,97.6,0.00,0.3,1.0,0.00,English
159,Christian,Sub-Saharan Africa,Zimbabwe,0.00,7.9,0.30,87.0,0.08,3.8,1.0,0.00,English

In [174]:
Cultureadd_df = pd.DataFrame(country_happiness[{"Country","Individualism","Masculinity","Uncertainity Avoidance","Long Term Orientation"}])

#drop countries with null values, only 65 countries to be analysed
Cultureadd_df = Social_df.dropna()

In [136]:
#check and select columns for economic factors
country_happiness

# iterating the columns 
for col in country_happiness.columns: 
    print(col) # iterating the columns

Overall rank
Country Code
Country
Region
Languages
Religion
Population
Area (km2)
2015 Happiness Score
2016 Happiness Score
2017 Happiness Score
2018 Happiness Score
2019 Happiness Score
2015 GDP
2016 GDP
2017 GDP
2018 GDP
2019 GDP
2015 Family
2016 Family
2017 Family
2018 Family
2019 Family
2015 Health
2016 Health
2017 Health
2018 Health
2019 Health
2015 Freedom
2016 Freedom
2017 Freedom
2018 Freedom
2019 Freedom
2015 Corruption
2016 Corruption
2017 Corruption
2018 Corruption
2019 Corruption
2015 Generosity
2016 Generosity
2017 Generosity
2018 Generosity
2019 Generosity
2015 GDP per Cap
2016 GDP per Cap
2017 GDP per Cap
2018 GDP per Cap
2019 GDP per Cap
Gender Ratio %
Gender Gap
2015 Suicide per 100k
2016 Suicide per 100k
2015 Suicide 5-14 years
2016 Suicide 5-14 years
2015Suicide 15-49 years
2016 Suicide 15-49 years
2015 Suicide  50-69 years
2016 Suicide  50-69 years
2015 Suicide 70+ years
2016 Suicide 70+ years
Unemployment (%)
Divorce Rate per 100k
GINI
Christian
Muslim
Irreligion
Hindu
Buddhist
Folk religion
Other religion
Jewish
Hunger (rate)
Urbanization (rate)
Democracy (value)
Holiday (Paid Days)
Fertility (per woman)
Air Quality (Value)
Homicide per 100k
Prison (per 100k)
Alchool (per cap)
Drugs Usage (per cap)
Antidepressants (per cap)
Congestion (Per capita)
Power Distance
Individualism
Masculinity
Uncertainity Avoidance
Long Term Orientation
Net Migration
Mortality

In [146]:
Economic_df = pd.DataFrame(country_happiness[{"Country","2019 GDP per Cap","GINI","Hunger (rate)",
                                              "Urbanization (rate)","Air Quality (Value)","Congestion (Per capita)",
                                              "Net Migration","Unemployment (%)"}])

Economic_df

,Urbanization (rate),Country,Unemployment (%),Air Quality (Value),Hunger (rate),Net Migration,GINI,Congestion (Per capita),2019 GDP per Cap
0,26.0,Afghanistan,8.86,58.80,33.8,3.3,NaN,NaN,502.12
1,66.8,Angola,7.28,15.90,29.8,1.4,51.3,NaN,2973.59
2,62.1,Albania,17.08,NaN,7.0,-9.4,33.2,NaN,5352.86
3,87.0,United Arab Emirates,1.93,38.94,NaN,6.1,32.5,170.89,43103.32
4,92.1,Argentina,7.15,14.60,5.0,0.1,41.4,172.79,10006.15
...,...,...,...,...,...,...,...,...,...
155,NaN,Kosovo,NaN,23.50,NaN,NaN,29.0,NaN,4417.51
156,36.6,Yemen,13.81,NaN,45.9,-0.6,36.7,NaN,0.00
157,67.4,South Africa,25.16,21.56,14.0,3.5,63.0,191.72,6001.40
158,44.6,Zambia,7.75,NaN,38.1,-0.7,57.1,NaN,1291.34
159,32.2,Zimbabwe,5.09,NaN,34.4,-9.4,44.3,NaN,1463.99

In [147]:
Incomplete_Countries = Economic_df[Economic_df.isna().any(axis=1)]


Incomplete_Countries

,Urbanization (rate),Country,Unemployment (%),Air Quality (Value),Hunger (rate),Net Migration,GINI,Congestion (Per capita),2019 GDP per Cap
0,26.0,Afghanistan,8.86,58.80,33.8,3.3,NaN,NaN,502.12
1,66.8,Angola,7.28,15.90,29.8,1.4,51.3,NaN,2973.59
2,62.1,Albania,17.08,NaN,7.0,-9.4,33.2,NaN,5352.86
3,87.0,United Arab Emirates,1.93,38.94,NaN,6.1,32.5,170.89,43103.32
5,63.3,Armenia,18.26,25.51,7.8,-2.1,34.4,NaN,4622.73
...,...,...,...,...,...,...,...,...,...
153,88.3,Venezuela,6.82,NaN,16.9,-2.9,46.9,155.42,0.00
155,NaN,Kosovo,NaN,23.50,NaN,NaN,29.0,NaN,4417.51
156,36.6,Yemen,13.81,NaN,45.9,-0.6,36.7,NaN,0.00
158,44.6,Zambia,7.75,NaN,38.1,-0.7,57.1,NaN,1291.34
159,32.2,Zimbabwe,5.09,NaN,34.4,-9.4,44.3,NaN,1463.99

In [148]:
#should we drop some columns and get more data?
Incomplete_Countries.isnull().sum(axis = 0)

Urbanization (rate)         4
Country                     0
Unemployment (%)            2
Air Quality (Value)        66
Hunger (rate)              51
Net Migration               5
GINI                       12
Congestion (Per capita)    77
2019 GDP per Cap            0
dtype: int64

In [150]:
#Not bad to drop all columns because we will be comparing the worst economically, exactly what we think it's a differentiator
Economic_df = Economic_df.dropna()

In [163]:
Social_df = pd.DataFrame(country_happiness[{"Country","Gender Ratio %","Democracy (value)",
                                              "Holiday (Paid Days)","Prison (per 100k)","Alchool (per cap)",
                                              "Alchool (per cap)","Homicide per 100k","Fertility (per woman)"}])

In [164]:
Incomplete_Social = Social_df[Social_df.isna().any(axis=1)]
Incomplete_Social.isnull().sum(axis = 0)

Country                  0
Fertility (per woman)    0
Homicide per 100k        0
Alchool (per cap)        0
Prison (per 100k)        1
Holiday (Paid Days)      2
Democracy (value)        5
Gender Ratio %           0
dtype: int64

In [165]:
# Decided to drop gender gap and divorce as they lack substantial data
Social_df = Social_df.dropna()
Social_df

,Country,Fertility (per woman),Homicide per 100k,Alchool (per cap),Prison (per 100k),Holiday (Paid Days),Democracy (value),Gender Ratio %
0,Afghanistan,4.98,6.66,0.2,87.0,35.0,2.85,48.61
1,Angola,5.77,4.85,6.4,93.0,33.0,3.72,50.54
2,Albania,1.68,2.29,7.5,177.0,32.0,5.89,49.09
3,United Arab Emirates,1.54,0.50,3.8,104.0,32.0,2.76,29.60
4,Argentina,2.30,5.32,9.8,230.0,25.0,7.02,51.27
...,...,...,...,...,...,...,...,...
154,Vietnam,2.01,1.52,8.4,128.0,22.0,3.08,50.15
156,Yemen,4.10,6.66,0.1,53.0,37.0,1.95,49.60
157,South Africa,2.48,36.40,9.3,275.0,27.0,7.24,50.64
158,Zambia,4.92,5.30,4.8,123.0,31.0,5.09,50.52
159,Zimbabwe,3.90,6.67,4.8,114.0,33.0,3.16,52.45

In [168]:
# Country breakdown (developed is to distinguish the very wealthy)

Developed_countries = ["Luxembourg","Switzerland","Ireland","Norway","Iceland","Singapore","United States","Qatar","Denmark",
                       "Australia","Netherlands","Sweden","Austria","Hong Kong","Finland","Germany","Canada","Belgium","Israel",
                       "United Arab Emirates","United Kingdom","New Zealand","France","Japan","Italy","Kuwait","South Korea","Spain"] 

Developing_countries = ["Iran","Kosovo","Slovenia","Cyprus","Estonia","Montenegro","Belarus","Czech Republic","Lithuania","Hungary",
                        "Portugal","Latvia","Greece","Poland","Croatia","Serbia","Slovakia","Russia","Bosnia and Herzegovina",
                        "North Macedonia","Bulgaria","Saudi Arabia","Romania","Bahrain","Chile","Malta","Uruguay","Sri Lanka",
                        "Lebanon","China","Ukraine","Malaysia","Costa Rica","Thailand","Argentina","Georgia","Turkey","Albania",
                        "Kazakhstan","Libya","Peru","Armenia","El Salvador","Colombia","Jamaica","Ecuador","Mexico","Brazil","Moldova",
                        "Panama","Jordan","Mongolia","Mauritius","Nicaragua","Tunisia","Honduras","Uzbekistan","Trinidad and Tobago",
                        "Vietnam","Kyrgyzstan","Paraguay","Egypt","Azerbaijan","Morocco","Algeria","Indonesia","Guatemala","Venezuela",
                        "Bolivia","Philippines","Iraq","Cambodia","Dominican Republic","Bhutan","Bangladesh","South Africa","India"]


Underdeveloped_countries = ["Botswana","Gabon","Turkmenistan","Namibia","Swaziland","Laos","Ivory Coast","Nigeria","Ghana",
                            "Congo (Brazzaville)","Kenya","Mauritania","Cameroon","Zimbabwe","Senegal","Myanmar","Comoros",
                            "Zambia","Pakistan","Benin","Lesotho","Tanzania","South Sudan","Nepal","Yemen","Guinea","Mali",
                            "Tajikistan","Ethiopia","Rwanda","Uganda","Burkina Faso","Haiti","Gambia","Chad","Togo","Liberia",
                            "Niger","Congo (Kinshasa)","Madagascar","Sierra Leone","Afghanistan","Mozambique",
                            "Central African Republic","Malawi","Somalia","Burundi","Syria"]

In [178]:
#breakdown for happiness
Happiness_developed = Happiness_fouryears[Happiness_fouryears['Country'].isin(Developed_countries)]
Happiness_developing = Happiness_fouryears[Happiness_fouryears['Country'].isin(Developing_countries)]
Happiness_underdeveloped = Happiness_fouryears[Happiness_fouryears['Country'].isin(Underdeveloped_countries)]

#breakdown for happiness means
Happiness_mean_developed = Happiness_mean[Happiness_mean['Country'].isin(Developed_countries)]
Happiness_mean_developing = Happiness_mean[Happiness_mean['Country'].isin(Developing_countries)]
Happiness_mean_underdeveloped = Happiness_mean[Happiness_mean['Country'].isin(Underdeveloped_countries)]


#breakdown for culture
Culture_developed = Culture_df[Culture_df['Country'].isin(Developed_countries)]
Culture_developing = Culture_df[Culture_df['Country'].isin(Developing_countries)]
Culture_underdeveloped = Culture_df[Culture_df['Country'].isin(Underdeveloped_countries)]


#breakdown for aditional culture
Culture_additional_developed = Cultureadd_df[Cultureadd_df['Country'].isin(Developed_countries)]
Culture_additional_developing = Cultureadd_df[Cultureadd_df['Country'].isin(Developing_countries)]
Culture_additional_underdeveloped = Cultureadd_df[Cultureadd_df['Country'].isin(Underdeveloped_countries)]

#breakdown for economic
Economic_developed = Economic_df[Economic_df['Country'].isin(Developed_countries)] #should not have data for wealthy countries!
Economic_developing = Economic_df[Economic_df['Country'].isin(Developing_countries)]
Economic_underdeveloped = Economic_df[Economic_df['Country'].isin(Underdeveloped_countries)]

#breakdown for social
Social_developed = Social_df[Social_df['Country'].isin(Developed_countries)]
Social_developing = Social_df[Social_df['Country'].isin(Developing_countries)]
Social_underdeveloped = Social_df[Social_df['Country'].isin(Underdeveloped_countries)]

,Religion,Region,Country,Hindu,Irreligion,Other religion,Christian,Jewish,Folk religion,Muslim,Buddhist,Languages
2,Muslim,Eastern Europe,Albania,0.00,1.40,0.20,18.0,0.0,0,80.3,0.00,Europe (other)
4,Christian,Latin America and Caribbean,Argentina,0.00,12.20,0.30,85.2,0.5,0.8,1.0,0.05,Spanish
5,Christian,Central Asia,Armenia,0.00,1.30,0.10,98.5,0.0,0,0.0,0.00,Europe (other)
8,Muslim,Central Asia,Azerbaijan,0.00,0.00,0.00,3.0,0.0,0,96.9,0.00,Europe (other)
13,Muslim,Southern Asia,Bangladesh,9.10,0.05,0.02,0.2,0.0,0.4,90.0,0.50,Asia (other)
...,...,...,...,...,...,...,...,...,...,...,...,...
152,Muslim,Central Asia,Uzbekistan,0.00,0.80,0.00,2.3,0.0,< 0.1,96.7,0.00,Asia (other)
153,Christian,Latin America and Caribbean,Venezuela,0.00,10.00,0.07,89.3,0.0,0.2,0.3,0.00,Spanish
154,Folk Religion,Southeastern Asia,Vietnam,0.16,29.60,0.40,8.2,0.0,45.3,0.2,16.40,Asia (other)
155,Muslim,Eastern Europe,Kosovo,0.00,1.60,0.00,11.4,0.0,0,87.0,0.00,Europe (other)
157,Christian,Sub-Saharan Africa,South Africa,1.70,14.90,0.30,81.2,0.1,0.4,2.0,0.20,English